@import 'font';

$fontColor:#2a2a2a;
$footer-color: #cdcdcd;
$white:#ffffff;
$yellow: #eca126;
$gray:#d8d8d8;
$green:#4CAF50;
$red:#f44336;
$black:#000000;


$primaryFont:'Gotham', serif;
$fontBaseline:18px;